section.Breadcrumb{
    nav{
        ol.breadcrumb{
            li.breadcrumb-item{
                font-size: 16px;
                font-weight: 500;

                a{
                    font-size: 16px;
                    font-weight: 500;
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}