footer {
    border-top: solid 1px $border-color;
    padding-top: 40px;

    h5 {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: $text-color;
        margin-bottom: 20px;
    }

    ul {
        padding: 0;
        list-style: none;

        li a {
            font-size: 14px;
            font-weight: 500;
            i {
                margin-right: 5px;
                color: $primary-color;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }

    .footer-socials {
        text-align: center;

        .socials {
            font-size: 35px;
            width: 80%;
            margin-inline: auto;

            .link-fb {
                color: #1194F4;
            }

            .link-instagram {
                color: #FC747B;
            }

            .link-twitter {
                color: #1194F4;
            }

            .link-youtube {
                color: #FE2B2B;
            }
        }
    }
}