header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: solid 1px $border-color;
    z-index: 100;

    a.header-logo {
        display: block;
        width: 100%;
        max-width: 120px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            max-height: 100px;
            object-fit: cover;
        }
    }

    ul.nav {
        li.nav-item {
            a.nav-link {
                color: $text-color;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 16px;

                &:hover {
                    color: $primary-color;
                }

                >i {
                    margin-left: 5px;
                }
            }

        }

        .tour-dropdown {
            position: relative;

            .list-group {
                position: absolute;
                left: 0;
                top: 100%;
                width: 150%;
                display: none;

                a.list-group-item {
                    font-weight: 400;
                    font-size: 15px;

                    &:hover {
                        color: $primary-color;
                        background-color: #f7f7f7;
                    }
                }

            }

            &:hover .list-group {
                display: block;
            }
        }
    }

    .header-action {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            color: $text-color;
            text-transform: uppercase;
            font-weight: 600;
            width: 40%;

            &:hover {
                color: $primary-color;
            }
        }


        a:last-child {
            @include button-styles;
            font-size: 16px;
            line-height: 35px;
            background-color: $primary-color;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            border: solid 1px $primary-color;

            &:hover {
                background-color: white;
                color: $primary-color;
            }
        }
    }

    .account-wrapper {
        display: none;

        a.account-link {
            font-size: 18px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: $text-color;

            i:first-child {
                font-size: 30px;
                padding-bottom: 5px;
            }

            span.username {
                padding-left: 5px;
                padding-right: 10px;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }
}