header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: solid 1px $border-color;

    a.header-logo {
        display: block;
        width: 100%;
        max-width: 120px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    ul.nav {
        li.nav-item {
            a.nav-link {
                color: $text-color;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 18px;

                &:hover {
                    color: $primary-color;
                }

                >i {
                    margin-left: 5px;
                }
            }
        }
    }

    .header-action {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            color: $text-color;
            text-transform: uppercase;
            font-weight: 600;
            width: 40%;

            &:hover {
                color: $primary-color;
            }
        }


        a:last-child {
            @include button-styles;
            font-size: 18px;
            line-height: 40px;
            background-color: $primary-color;

            &:hover {
                opacity: 0.9;
            }
        }
    }

    .account-wrapper {
        display: none;

        a.account-link {
            font-size: 18px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: $text-color;

            i:first-child {
                font-size: 30px;
                padding-bottom: 5px;
            }

            span.username {
                padding-left: 5px;
                padding-right: 10px;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }
}