@mixin input-styles {
    line-height: 36px;
    outline: none;
    border-radius: 0;
    border: solid 1px $border-color;
    color: $text-color;

    &:focus {
        background-color: white;
        box-shadow: unset;
        outline: none;
    }
}

@mixin button-styles {
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0;  
    text-transform: uppercase;
    display: block;
}