@import './components/varriables';
@import './components/mixins';
@import './components/base';
@import './components/header';
@import './components/footer';



body {
    padding-top: 135px;

    header {
        #header-action {
            display: none !important;
        }

        .account-wrapper {
            display: block;
        }
    }

    form {
        margin: 70px auto;

        h1 {
            font-size: 40px;
            text-align: start;
            color: $text-color;
            text-transform: uppercase;
            font-weight: 500;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px !important;
        }

        label {
            font-size: 18px;
            font-weight: 500;
            color: $desc-color;
        }

        input.form-control {
            @include input-styles;
            font-size: 18px;
            color: $text-color;
            border-radius: 0;
        }

        div.form-text {
            color: red;
            font-style: italic;
        }

        button {
            @include button-styles;
            background-color: $primary-color;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            width: 100%;
            line-height: 45px;
            border: solid 1px $primary-color;

            &:hover {
                background-color: white;
                color: $primary-color;
                border: solid 1px $primary-color;
            }
        }
    }
}