@import './components/varriables';
@import './components/mixins';
@import './components/base';

main {
    height: 100vh;
    display: grid;
    align-items: center;

    #forgot-form {
        h1 {
            font-size: 40px;
            text-align: start;
            color: $primary-color;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 35px;
        }

        input.form-control {
            @include input-styles;
            font-size: 18px;
        }

        p {
            font-style: italic;
        }

        a.back-link,
        button {
            @include button-styles;
            width: 49%;
            line-height: 45px;


        }

        a.back-link {
            background-color: $secondary-color;
            border: solid 1px $secondary-color;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

            &:hover {
                background-color: white;
                color: $secondary-color;
            }
        }

        button {
            background-color: $primary-color;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

            &:hover {
                background-color: white;
                color: $primary-color;
                border: solid 1px $primary-color;
            }
        }

        a.home-link {
            color: $secondary-color;
            font-size: 18px;
            font-weight: 500;

            i {
                margin-right: 5px;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }
}