@import './components/varriables';
@import './components/mixins';
@import './components/base';

main {
    height: 100vh;
    display: grid;
    align-items: center;
    #forgot-form{
        h1{
            text-transform: initial;
            text-align: start;
            font-weight: 600;
        }
        input.form-control {
            @include input-styles;
            font-size: 18px;
        }
        button.btn-primary{
            background-color: $primary-color;
            display: block;
            border: none;
            width: 100%;
            line-height: 35px;
            text-transform: initial;
        }
        a{
            i{
                margin-right: 5px;
            }
        }
    }
}