@import './components/varriables';
@import './components/mixins';
@import './components/base';
@import './components/header';
@import './components/footer';

body {
    padding-top: 100px;

    section.banner {
        margin-bottom: 20px;
        h1 {
            font-size: 95px;
            color: $text-color;
            font-weight: 700;
            font-family: 'Baloo 2', cursive;
            line-height: 140px;
            user-select: none;
        }

        p {
            color: $desc-color;
            font-style: italic;
            font-size: 18px;
            user-select: none;
        }
        .banner__search-bar{
            .form-control{
                padding: 10px;  
            }
            button{
                background-color: $primary-color;
                color: white;
                width: 100%;
                text-transform: uppercase;
                padding-block: 10px;
            }
        }
        .banner__img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}