@import './components/varriables';
@import './components/mixins';
@import './components/base';

main {
    height: 100vh;
    display: grid;
    align-items: center;

    #login-form {
        h1 {
            font-size: 40px;
            text-align: start;
            color: $primary-color;
            text-transform: uppercase;
            font-weight: 500;
        }

        label {
            font-size: 18px;
            font-weight: 500;
            color: $desc-color;
        }

        input.form-control {
            @include input-styles;
            font-size: 18px;
            color: $text-color;
            border-radius: 0;
        }

        a.forgot-link {
            float: right;
            color: $secondary-color;
            font-weight: 500;
            font-size: 18px;

            &:hover {
                color: $primary-color
            }
        }

        a.back-link,
        button {
            @include button-styles;
            width: 49%;
            line-height: 45px;
            &:hover{
                opacity: 0.9;
            }
        }

        a.back-link {
            background-color: $secondary-color;
        }

        button {
            background-color: $primary-color;
        }

        .sign-up-link{
            font-size: 18px;
            font-weight: 500;
            color: $desc-color;;
            a{
                margin-left: 10px;
                color: $secondary-color;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
}