@import './components/varriables';
@import './components/mixins';
@import './components/base';

main {
    height: 100vh;
    display: grid;
    align-items: center;

    #login-form {
        label {
            color: $border-color;
            font-size: 18px;
        }

        input.form-control {
            @include input-styles;
            font-size: 18px;
        }

        a {
            font-weight: 500;
            color: #1194F4;
        }
        button.btn-primary{
            background-color: $primary-color;
            display: block;
            border: none;
            width: 100%;
            line-height: 35px;
            text-transform: uppercase;
        }
        span{
            margin-right: 20px;
        }
    }
}