*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: $fs-0;
    line-height: $line-height-0;
    color: $color_dark;
    background-color: $color_light_01;
}