doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Travel
        link(rel="stylesheet", href="./assets/styles/reset.css")
        script(src='https://kit.fontawesome.com/3fc531ce88.js' crossorigin='anonymous')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js' integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.6.0.js' integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=' crossorigin='anonymous')
        link(rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
        script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
        link(rel="stylesheet", href="./assets/styles/home.css")
    body 
        include components/header
        main 
            section.banner 
                .container 
                    .row.justify-content-between 
                        .col-4
                            h1 Đi du lịch Thôi nào !
                            p.mb-5 Chúng tôi luôn làm cho khách hàng hài lòng bằng cách cung cấp những dịch vụ tốt nhất có thể <3
                            form.banner__search-bar(action="#" method="GET") 
                                .mb-3
                                    label.form-label(for="") Địa điểm 
                                    select.form-select
                                        option(selected='') Hà Nội
                                        option(value='1') SaPa
                                        option(value='2') Nha Trang
                                        option(value='3') Phú Quốc
                                .mb-4
                                    label.form-label(for="date") Ngày khởi hành 
                                    input.form-control(type="date" name="date")
                                button(type="submit" class="btn") Tìm kiếm
                        .col-6
                            .banner__img 
                                img(src="./assets/images/banner.png", alt="banner")            
        section.container.test 
            .row 
                .col-1  1
                .col-1  2
                .col-1  3
                .col-1  4
                .col-1  5
                .col-1  6
                .col-1  7
                .col-1  8
                .col-1  9
                .col-1  10
                .col-1  11
                .col-1  12                 
        include components/footer
        script(src="./assets/scripts/home.js") 