// color
$color_dark: #303132;
$color_light_01: #EFEFEF;
$color_light_02: #B9B9B9;
$color_green: #6ECF56;
$color_blue_01: #0069D9;
$color_blue_02: #1194F4;
$color_red: #FE2B2B;

//font-size
$fs-0:15px;
$fs-1:13px;
$fs-2:40px;
$fs-3:18px;
$fs-4:36px;
$fs-5:24px;
$fs-6:50px;



//font-weight
$fw-0:normal;
$fw-1:600;
$fw-2:700;
$fw-3:900;

//line-height
$line-height-0:1.43;
