section.Breadcrumb
    .container
        .row 
            .col-5 
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                           a(href='#') Trang Chủ
                        li.breadcrumb-item.active(aria-current='page') Sa Pa