footer
    .container
        .row.align-items-start
            .col-3
                .footer-contacts
                    p.footer__heading Về chúng tôi
                    ul
                        li
                            a(href="") 
                                i.fa-solid.fa-location-dot
                                span CÔNG TY TNHH DU LỊCH THÁI NGUYÊN
                        li
                            a(href="") 
                                i.fa-solid.fa-phone
                                span 037.508.3463
                        li
                            a(href="")
                                i.fa-solid.fa-envelope
                                span lexuantruong.contacts@gmail.com 
            .col-2
                .footer-licenses
                    p.footer__heading điều khoản sử dụng
                    ul
                        li
                            a(href="") Chính sách bảo mật
                        li
                            a(href="") Chính sách bồi thường
                        li
                            a(href="") Chính sách quản trị
            .col-2.ms-auto
                .footer-certifications
                    p.footer__heading Chứng nhận
                    .certification
                        img(src="./assets/images/certification1.png", alt="certification")
                    .certification 
                        img(src="./assets/images/certification2.png", alt="certification")
            .col-3
                .footer-socials
                    p.footer__heading Kết nối với chúng tôi
                    .socials.d-flex.justify-content-around.align-items-center
                        a.social-link(href="#")
                            i.fa-brands.fa-facebook-square.link-fb
                        a.social-link(href="#") 
                            i.fa-brands.fa-instagram.link-instagram
                        a.social-link(href="#") 
                            i.fa-brands.fa-twitter.link-twitter
                        a.social-link(href="#") 
                            i.fa-brands.fa-youtube.link-youtube