header
    .container
        .row.align-items-center.justify-content-between
            .col-5.d-flex.justify-content-start.align-items-center
                a.header-logo(href="#") 
                    img(src="./assets/images/logo.png", alt="Logo")
                ul.nav.nav-pills
                    li.nav-item
                      a.nav-link(href="#") Tours
                        i.fa-solid.fa-angle-down
                    li.nav-item
                      a.nav-link(href='#') Liên hệ
                    li.nav-item
                      a.nav-link(href='#') Giới thiệu
            .col-3.header-action 
                a(href="./login.html") Đăng nhập 
                a(href="./signup.html") Đăng ký
            .col-2.account-wrapper
              a.account-link(href="#")
                i.fa-solid.fa-circle-user
                span.username Xuân Trường
                i.fa-solid.fa-caret-down
